<!DOCTYPE html>
<html>
  <head>
    <title>ClimbOn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div data-sticky-container>
      <nav class="top-bar" data-sticky data-margin-top="0">
        <a class="navbar-brand" href="/"><%= image_tag("Logo.png")%></a>
          <%- if current_page?(root_url) %>
            <button class="button large secondary">
              <%= link_to 'Start New Session', trips_new_path %>
            </button>
          <%- end %>
          <% if !current_page?(chats_path) %>
            <button class="button large secondary">
              <%= link_to 'Go to Chat!', chats_path %>
            </button>
          <% end %>
        <section class="top-bar-section">
          <div class="right">
            <%- if current_user -%>
            <button class="button secondary">
              <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
            </button>
            <%- else -%>
            <button class="button secondary">
              <%= link_to 'Sign Up', new_user_registration_path %>
            </button>
            <button class="button secondary">
              <%= link_to 'Sign In', new_user_session_path %>
            </button>
            <%- end -%>
          </div>
        </section>
      </nav>
    </div>



    <%= yield %>

    <%= javascript_include_tag 'application' %>

    <%- if Rails.env.development? || Rails.env.test? -%>
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    <%= javascript_pack_tag 'application' %>

    <%= yield :extra_footer %>

  </body>
</html>
